<header class="navbar">
  <div class="logo-area">
    <img src="xml.png" alt="XML Project Logo" class="logo-img">
    <span class="project-title">XMLPROJECT</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
    <a routerLink="/article" routerLinkActive="active-link">Articles</a>
    <a routerLink="/membres" routerLinkActive="active-link">Membres</a>
  </nav>

  <div class="user-area"></div>
</header>
<main>
<router-outlet></router-outlet>
</main>